<div class="header_nav ">
  <div class="col-xs-24 col-md-10 vcenter row">
    <a href="https://github.com/eclipse-kura/kura" title="Eclipse Kura" target="_self">
      <img src="https://eclipse.dev/kura/content/images/kura_logo_400.png" alt="Eclipse Kura"
        class="img-responsive  header_nav_logo">
    </a>
  </div>
  <div class="col-xs-24 col-md-14 vcenter">
    <ul class="clearfix">
      <li class="col-xs-24 col-md-12">
        <a class="row"
          href="https://www.eclipse.org/downloads/download.php?file=/kura/releases/5.6.0/kura_5.6.0_generic-aarch64_installer.deb"
          title="Download Kura for your Raspberry Pi 3/4/5 Raspberry Pi OS (64 bit) from here" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-download"></i>
          <span class="col-xs-21 c col-md-17">
            Download
            <p>Download Kura for your Raspberry Pi 3/4/5 Raspberry Pi OS (64 bit) from here</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="https://github.com/eclipse-kura/kura"
          title="Geting Involved: CVS, Workspace Setup, Wiki, Committers" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-users"></i>
          <span class="col-xs-21 c col-md-17">
            Geting Involved
            <p>CVS, Workspace Setup, Wiki, Committers</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="https://eclipse-kura.github.io/kura/"
          title="Documentation: Getting started, configuration, application development" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-book"></i>
          <span class="col-xs-21 c col-md-17">
            Documentation
            <p>Getting started, configuration, application development</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="https://github.com/eclipse-kura/kura/discussions"
          title="Support on GitHub: Issues, discussions, news" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-support"></i>
          <span class="col-xs-21 c col-md-17">
            Support on GitHub
            <p>Issues, discussions, news</p>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>