{{#news}}
<div class="custom-test eclipsefdn-news-list item block-summary-item">
  <p class="eclipsefdn-news-list-date">{{ date }}</p>
  <h4 class="eclipsefdn-news-list-heading"><a href="{{ link }}">{{ title }}</a></h4>
  <p class="eclipsefdn-news-list-body">{{ body }}</p>
</div>
{{/news}} 