{{#items}}
<p class="whats-new-date">{{#formatDate}}{{date}}{{/formatDate}}</p>
<h4 class="whats-new-title"><a href="{{ link }}">{{ title }}</a></h4>
<p class="whats-new-description">{{summary}}</p>
{{/items}}